page-kontak {

  .description-kontak {
    padding: 0px 20px;
  }

  .description-kontak p {
    margin-top: -7px;
  }

  .kontak-icon {
    font-size: 60px;
    color: #04B26C;
  }

  .kontak-title {
    font-size: 30px;
  }

  .kontak {
    font-size: 15px;
    color: rgb(51, 52, 52);
  }

}
