page-registrasi-ikm {

  .header-form {
    text-align: center;
    margin: 30px 0px 20px 0px;
  }

  .header-form h4 {
    font-weight: bolder;
    text-transform: uppercase;
    color: #222;
  }

  #mapid { height: 360px; }

}
