page-list-pasar {

  @keyframes blink {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: !important
    }
  }

  #right-button {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateX(-50%);
    font-size: 30px;
    color: #fff;
    z-index: 1000 !important;
  }

  #left-button {
    position: fixed;
    top: 50%;
    left: 33px !important;
    transform: translateX(-50%);
    font-size: 30px;
    color: #fff;
    z-index: 1000 !important;
  }

  .slide-button {
    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
  }

  .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .toolbar-background-md {
    background: transparent;
  }

  .send-to-front {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1000 !important;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff !important;
  }

  .info-pasar {
    z-index: 1000 !important;
    bottom: 0 !important;
    left: 15px !important;
    position: absolute !important;
    text-align: left !important;
  }

  .nama-pasar {
    color: #fff;
  }

  .deskripsi-pasar {
    color: #fff;
    margin-top: -10px;
  }

}
